
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
    font-size: 2em;
    text-shadow: 2px 2px rgba(128, 128, 128, 0.473) ;
    text-align: center;
}
#form1, #form3{
    background-color: rgba(4, 29, 253, 0.479);
}
#form2, #form4{
    background-color: rgba(9, 100, 40, 0.39);
}
fieldset{
    border: 2px solid black;
}
#ireset, #ienviar{
    border-radius: 3px;
    border: 1px solid;
    background-color: rgba(235, 57, 57, 0.459);
}
#formpai{
    background-color: rgba(150, 150, 148, 0.541);
}